*{
    padding: 0;
    margin: 0;
    font-family: Axiforma, system-ui;
    align-items: center;
}
ul{
    list-style-type: none;
}
body{
    background-color: #6F61C0;
}
h1{
    text-align: center;
    color: rgb(235, 218, 250);
    margin-top: 30px;
    
}
.input-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    margin-right:5px;
    margin-left: 10px;
}
input:hover{
    border: 2px solid #603bb8;
}
input:focus {
    border: 2px solid #603bb8;
    outline: none;
}
button {
    background-color: #574c94;
    color:rgb(240, 227, 252) ;
    border-radius: 4px;
    border-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
}
button:focus {
    border: 2px solid #603bb8; 
    outline: none;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    background-color: #A084E8;
    color: rgb(48, 3, 87);
}
li button {
    
    background-color: #8BE8E5;
    color: #0c5153;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.completed {
    text-decoration: line-through;
}
